.conteiner-geral {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lado-esquerdo {
  width: 50%;
}

.foto-direita {
  width: 30%;
  height: 80vh;
  object-fit: cover;
  border-radius: 1px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.product-item {
    padding: 80px;
    text-align: center;
    width: 350px;
    margin-bottom: 20px;
}

.product-item img {
    width: 120%;
    height: 60%;
    border-radius: 10px;
}
.praz{

    color: rgb(243, 244, 246);
    padding: 20px;
}
#titulo{

    color: rgb(245, 158, 11);
    padding: 20px;
}
#produtos {
    color: rgb(251, 191, 36);
    padding: 20px;
}
.foto-direita {
  float: right;
  width: 45%;
  border-radius: 10px;
}
